{% extends "base.html" %}
{% block content %}
<span class="h4">Hello, {{current_user.Get("username")}} !</span>


{% if form %}
<form action="" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
        <p>
            <label class="form-label">
                {{ form.post.label }}
            </label>
            {% comment %} {{ form.post(cols=32, rows=4,class="form-input") }}<br> {% endcomment %}
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% comment %} <p>{{form.submit(class="btn btn-primary")}}</p> {% endcomment %}
    </div>
</form>
{% endif %}
{% for post in posts %}
{# include '_post.html' #}
{% endfor %}

{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}


{% endblock %}